In [ ]:
import pandas as pd

csv_path = "full_dataset.csv"

df = pd.read_csv(csv_path, quoting=3, on_bad_lines="skip", engine="python")

In [ ]:
import pandas as pd
df = pd.read_csv("full_dataset.csv")
print(df.head())

<ipython-input-5-b7f53683a6a4>:4: DtypeWarning: Columns (26,33,34,38,40,42,43,44,45,46,52,53,61,62,63,64,65,66,67,68,70,71,72,73,74,82,83,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("full_dataset.csv")

                                     id      type.x      format  \
0  8fdfc639-39c2-4933-a1e5-77107a9a5b83  StillImage  image/jpeg
1  a122d072-f965-485b-b34c-4374d91ab69d  StillImage  image/jpeg
2  4091cbbb-7cc6-4f8b-96dd-cf505d4e84b6  StillImage  image/jpeg
3  4091cbbb-7cc6-4f8b-96dd-cf505d4e84b6  StillImage  image/jpeg
4  4091cbbb-7cc6-4f8b-96dd-cf505d4e84b6  StillImage  image/jpeg

                                          identifier  \
0  http://data.huh.harvard.edu/8fdfc639-39c2-4933...
1  http://data.huh.harvard.edu/a122d072-f965-485b...
2  http://data.huh.harvard.edu/4091cbbb-7cc6-4f8b...
3  http://data.huh.harvard.edu/4091cbbb-7cc6-4f8b...
4  http://data.huh.harvard.edu/4091cbbb-7cc6-4f8b...

                                        references.x  description  \
0  http://data.huh.harvard.edu/8fdfc639-39c2-4933...          NaN
1  http://data.huh.harvard.edu/a122d072-f965-485b...          NaN
2  http://data.huh.harvard.edu/4091cbbb-7cc6-4f8b...          NaN
3  http://data.huh.harvard.edu/4091cbbb-7cc6-4f8b...          NaN
4  http://data.huh.harvard.edu/4091cbbb-7cc6-4f8b...          NaN

               created  creator  \
0  2011-03-25 00:00:00      NaN
1  2011-03-25 00:00:00      NaN
2  2011-07-19 00:00:00      NaN
3  2011-07-19 00:00:00      NaN
4  2011-07-19 00:00:00      NaN

                                           license.x  \
0  https://huh.harvard.edu/access-digital-reprodu...
1  https://huh.harvard.edu/access-digital-reprodu...
2  https://huh.harvard.edu/access-digital-reprodu...
3  https://huh.harvard.edu/access-digital-reprodu...
4  https://huh.harvard.edu/access-digital-reprodu...

                             rightsHolder.x  ...  identificationReferences.y  \
0  President and Fellows of Harvard College  ...                         NaN
1  President and Fellows of Harvard College  ...                         NaN
2  President and Fellows of Harvard College  ...                         NaN
3  President and Fellows of Harvard College  ...                         NaN
4  President and Fellows of Harvard College  ...                         NaN

  identificationQualifier.y typeStatus.y  \
0                       NaN      Syntype
1                       NaN      Syntype
2                       NaN          NaN
3                       NaN          NaN
4                       NaN          NaN

                                  scientificName.y      family.y      genus.y  \
0                          Crataegus torta Sargent      Rosaceae    Crataegus
1                          Crataegus torta Sargent      Rosaceae    Crataegus
2         Lesquerella purpurea (A. Gray) S. Watson  Brassicaceae  Lesquerella
3         Lesquerella purpurea (A. Gray) S. Watson  Brassicaceae  Lesquerella
4  Physaria purpurea (A. Gray) O'Kane & Al-Shehbaz  Brassicaceae     Physaria

  specificEpithet.y infraspecificEpithet.y taxonRank  \
0             torta                    NaN   Species
1             torta                    NaN   Species
2          purpurea                    NaN   Species
3          purpurea                    NaN   Species
4          purpurea                    NaN   Species

      scientificNameAuthorship.y
0                        Sargent
1                        Sargent
2            (A. Gray) S. Watson
3            (A. Gray) S. Watson
4  (A. Gray) O'Kane & Al-Shehbaz

[5 rows x 93 columns]

In [ ]:

#
selected_columns = ['country', 'stateProvince', 'year', 'locality', 'scientificName.x',
                    'family.x', 'genus.x', 'specificEpithet.x', 'identifiedBy.x', 'scientificNameAuthorship.x']
selected_columns_1 = ['sex', 'stateProvince','reproductiveCondition', 'collectionID', 'occurrenceStatus', 'disposition']

 #
df_selected = df[selected_columns]
df_selected['year'] = df_selected['year'].astype(str)

df_selected_1 = df[selected_columns_1]
#
df_selected['id'] = range(1, len(df_selected) + 1)
df_selected_1['id'] = range(1, len(df_selected_1) + 1)

states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut',
          'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
          'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
          'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
          'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
          'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
          'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia',
          'Wisconsin', 'Wyoming']

#
df1 = df_selected[df_selected['stateProvince'].isin(states)]
df2 = df_selected_1[df_selected_1['stateProvince'].isin(states)]


#
#df1.to_csv("new_selected_data.csv", index=False)
#df2.to_csv("new_selected_data_1.csv", index=False)

#
df3 = pd.read_csv("new_selected_data.csv")
df4 = pd.read_csv("new_selected_data_1.csv")
print(len(df1))
print(len(df2))
print(df1.head())
print(df2.head())

<ipython-input-33-0394f2c67e04>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['year'] = df_selected['year'].astype(str)
<ipython-input-33-0394f2c67e04>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['id'] = range(1, len(df_selected) + 1)
<ipython-input-33-0394f2c67e04>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected_1['id'] = range(1, len(df_selected_1) + 1)

617820
617820
                    country stateProvince    year  \
0  United States of America  Pennsylvania  1907.0
1  United States of America  Pennsylvania  1905.0
2  United States of America         Texas  1852.0
3  United States of America         Texas  1852.0
4  United States of America         Texas  1852.0

                             locality            scientificName.x  \
0                     Nine-mile River     Crataegus torta Sargent
1                     Nine-mile River     Crataegus torta Sargent
2  N. Mex. [stony hills near El Paso]  Vesicaria purpurea A. Gray
3  N. Mex. [stony hills near El Paso]  Vesicaria purpurea A. Gray
4  N. Mex. [stony hills near El Paso]  Vesicaria purpurea A. Gray

       family.x    genus.x specificEpithet.x   identifiedBy.x  \
0      Rosaceae  Crataegus             torta   D. E. Boufford
1      Rosaceae  Crataegus             torta   D. E. Boufford
2  Brassicaceae  Vesicaria          purpurea  W. T. Kittredge
3  Brassicaceae  Vesicaria          purpurea  W. T. Kittredge
4  Brassicaceae  Vesicaria          purpurea  W. T. Kittredge

  scientificNameAuthorship.x  id
0                    Sargent   1
1                    Sargent   2
2                    A. Gray   3
3                    A. Gray   4
4                    A. Gray   5
            sex stateProvince reproductiveCondition  \
0  undetermined  Pennsylvania                 Fruit
1  undetermined  Pennsylvania                 Fruit
2  undetermined         Texas        FlowerAndFruit
3  undetermined         Texas        FlowerAndFruit
4  undetermined         Texas        FlowerAndFruit

                    collectionID occurrenceStatus    disposition  id
0  urn:lsid:biocol.org:col:15406          present  in collection   1
1  urn:lsid:biocol.org:col:15406          present  in collection   2
2  urn:lsid:biocol.org:col:15631          present  in collection   3
3  urn:lsid:biocol.org:col:15631          present  in collection   4
4  urn:lsid:biocol.org:col:15631          present  in collection   5

In [59]:
state_counts = df1.groupby('scientificNameAuthorship.x')['id'].count()
print(state_counts.sort_values(ascending=False))

scientificNameAuthorship.x
Linnaeus                 98413
Michaux                  13952
A. Gray                  12256
Nuttall                  10949
Willdenow                 6471
                         ...
(Sprengel) M. Broun          1
Mackenzie ex Bright          1
(Decaisne) Woodson           1
(Hue) Esslinger              1
(Ramatuelle) Kitamura        1
Name: id, Length: 9132, dtype: int64

In [ ]:
#selected_columns = ['"country"','"stateProvince"', '"year"','"locality"', '"collectionID"','"scientificName.x"','"family.x"', '"genus.x"', '"specificEpithet.x"',
                     #'"identifiedBy.x"',  '"scientificNameAuthorship.x"']
#selected_columns_1 = ['"sex"', '"reproductiveCondition"', '"occurrenceStatus"', '"disposition"'] # 替换成你要的列名
selected_columns = ['country']
df_selected = df[selected_columns]
print(df_selected.head())
#df_selected_1 = df[selected_columns_1]

                    country
0  United States of America
1  United States of America
2  United States of America
3  United States of America
4  United States of America